[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/samolkonkhmer
[access "refs/for/refs/*"]
	read = group user/samolkonkhmer
	push = group user/samolkonkhmer
	label-Code-Review = -2..+2 group user/samolkonkhmer
	label-Verified = -1..+1 group user/samolkonkhmer
	rebase = group user/samolkonkhmer
	removeReviewer = group user/samolkonkhmer
	submit = group user/samolkonkhmer
[access "refs/heads/*"]
	read = group user/samolkonkhmer
	create = group user/samolkonkhmer
	push = +force group user/samolkonkhmer
	pushMerge = group user/samolkonkhmer
[access "refs/tags/*"]
	push = +force group user/samolkonkhmer
	pushTag = group user/samolkonkhmer
	pushSignedTag = group user/samolkonkhmer
